<style>
  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
</style>
<div class="container-fluid shadow">
  <div class="navbar">
    <div class="row justify-content-center">
      <div class="col">
        <h1 style="width:305px;height:70px;font-size: 30px;font-family: 'Cairo', Bold 700;"><a [routerLink]="'/'">BARDZIEJ NOTATNIK <p>NIŻ BLOG</p></a></h1>
      </div>
      <div class="col">
        <div class="dropleft login">
          <div class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &#9776;
          </div>
          <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/register">Rejestracja</a>
            <a class="dropdown-item" href="/profile">Profil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
