@import "~bootstrap/dist/css/bootstrap.css";

html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}
html{
  font-family: 'Lato', 'Arial';
}
body{
  /*background-color: #F7F4E9;*/
  background-color: #f4f7f6;
}
* html .wrapper{
  height: 100%;
}



