<div class="container content">
  <div class="row">
    <div class="col-md-8">
      <div class="posts shadow">
        <div class="card mb-3">
          <img class="card-img-top"
               src="assets/undraw_Post_re_mtr4.png"
               alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Testowy Tytuł bloga</h5>
            <p class="card-text">Czym jest Angular Elements? Jest to biblioteka, dzięki której możemy wykorzystać
              komponenty poza kodem Angular. W takim przypadku team frontend React może dodać feature do swojej
              aplikacji napisany w Angular.</p>
            <div class="row">
              <div class="col">
            <p class="card-text">
              <small class="text-muted">Ostatnia modyfikacja 3 godziny temu</small>
            </p>
              </div>
              <div class="col">
                <p class="card-text comments">
                  <small class="text-muted">(0) Komentarze</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="widget shadow">
        <p>Widget</p>
      </div>
    </div>
  </div>
</div>
